<!DOCTYPE html>
<html lang="en">

<% include header %>

<body>

<% include navbar %>
  
<div class="container">
    <h1>
        Employee Page
    </h1>
    
    <p>
        To add an employee to the list, click the "Add Employee" tab. To see the existing list, click "Employee List"
    </p>
    
    
</div>
<% include footer %>

<% include scripts %>

</body>
</html>