<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Total Days Worked</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Jimmy Johns</td>
            <td>March 1 1989</td>
            <td>515</td>
        </tr>

        <tr>
            <td>2</td>
            <td>Wendy</td>
            <td>April 8 1967</td>
            <td>22</td>
        </tr>

        <tr>
            <td>3</td>
            <td>Ronald McDonald</td>
            <td>August 23 1950</td>
            <td>950</td>
        </tr>
    </tbody>
</table>